{% extends "base.html" %}

{% block content %}

  {% if user.is_authenticated %}
    <p><a href="{% url 'account_new' %}">Create New Account</a></p>
    <p><a href="{% url 'transaction_new' %}">New Transaction</a></p>

    <h2>All Accounts</h2>

    {% for account in account_list %}
      <div>
        <a href="{{ account.get_absolute_url }}"><h3>{{ account.name }}</h3></a>
        <p>£{{ account.get_balance }}</p>
        <p>{{ account.user }}</p>
      </div>
    {% endfor %}

  {% else %}

    <p>Please login to view your accounts</p>
  
  {% endif %}

{% endblock content %}